$color-main-1: #00d9e3;
$color-main-1-darkened: #02696e;
$color-main-2: #ffd56e;
$color-main-2-darkened: #846e38;
$color-main-3: #001321;
$color-main-3: #001321;
$color-card: rgb(0, 26, 44);
$border-radius: 4px;